
/*======================================== config =================================*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


p {
    margin: 0px;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover,
a:focus {
    text-decoration: none;
}
a,
button,
input {
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}


li {
    list-style: none;
}
body {
    background: #fff;
    color: #000;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    line-height: 1.5;
  font-family: Futura;
}

del {
    font-size: 12px;
    color: #999;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}


/*======================================== end config =================================*/
