@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica-Bold.eot');
  src: url('../fonts/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Helvetica-Bold.woff2') format('woff2'),
  url('../fonts/Helvetica-Bold.woff') format('woff'),
  url('../fonts/Helvetica-Bold.ttf') format('truetype'),
  url('../fonts/Helvetica-Bold.svg#Helvetica-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura-Medium.eot');
  src: url('../fonts/Futura-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Futura-Medium.woff2') format('woff2'),
  url('../fonts/Futura-Medium.woff') format('woff'),
  url('../fonts/Futura-Medium.ttf') format('truetype'),
  url('../fonts/Futura-Medium.svg#Futura-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura-Bold.eot');
  src: url('../fonts/Futura-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Futura-Bold.woff2') format('woff2'),
  url('../fonts/Futura-Bold.woff') format('woff'),
  url('../fonts/Futura-Bold.ttf') format('truetype'),
  url('../fonts/Futura-Bold.svg#Futura-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}




@font-face {
  font-family: 'Helvetica-CondensedBold';
  src: url('../fonts/HelveticaNeue-CondensedBold.eot');
  src: url('../fonts/HelveticaNeue-CondensedBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue-CondensedBold.woff2') format('woff2'),
  url('../fonts/HelveticaNeue-CondensedBold.woff') format('woff'),
  url('../fonts/HelveticaNeue-CondensedBold.ttf') format('truetype'),
  url('../fonts/HelveticaNeue-CondensedBold.svg#HelveticaNeue-CondensedBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



//@font-face {
//  font-family: 'Helvetica Neue';
//  src: url('../fonts/HelveticaNeue-Medium.eot');
//  src: url('../fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/HelveticaNeue-Medium.woff2') format('woff2'),
//  url('../fonts/HelveticaNeue-Medium.woff') format('woff'),
//  url('../fonts/HelveticaNeue-Medium.ttf') format('truetype'),
//  url('../fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
//  font-weight: 500;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Helvetica Neue';
//  src: url('../fonts/HelveticaNeue.eot');
//  src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/HelveticaNeue.woff2') format('woff2'),
//  url('../fonts/HelveticaNeue.woff') format('woff'),
//  url('../fonts/HelveticaNeue.ttf') format('truetype'),
//  url('../fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
//  font-weight: normal;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Helvetica Neue';
//  src: url('../fonts/HelveticaNeue-Bold.eot');
//  src: url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/HelveticaNeue-Bold.woff2') format('woff2'),
//  url('../fonts/HelveticaNeue-Bold.woff') format('woff'),
//  url('../fonts/HelveticaNeue-Bold.ttf') format('truetype'),
//  url('../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
//  font-weight: bold;
//  font-style: normal;
//  font-display: swap;
//}






@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueBold.eot');
  src: url('../fonts/HelveticaNeueBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueBold.woff2') format('woff2'),
  url('../fonts/HelveticaNeueBold.woff') format('woff'),
  url('../fonts/HelveticaNeueBold.ttf') format('truetype'),
  url('../fonts/HelveticaNeueBold.svg#HelveticaNeueBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueLight.eot');
  src: url('../fonts/HelveticaNeueLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueLight.woff2') format('woff2'),
  url('../fonts/HelveticaNeueLight.woff') format('woff'),
  url('../fonts/HelveticaNeueLight.ttf') format('truetype'),
  url('../fonts/HelveticaNeueLight.svg#HelveticaNeueLight') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueMedium.eot');
  src: url('../fonts/HelveticaNeueMedium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueMedium.woff2') format('woff2'),
  url('../fonts/HelveticaNeueMedium.woff') format('woff'),
  url('../fonts/HelveticaNeueMedium.ttf') format('truetype'),
  url('../fonts/HelveticaNeueMedium.svg#HelveticaNeueMedium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueRegular.eot');
  src: url('../fonts/HelveticaNeueRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueRegular.woff2') format('woff2'),
  url('../fonts/HelveticaNeueRegular.woff') format('woff'),
  url('../fonts/HelveticaNeueRegular.ttf') format('truetype'),
  url('../fonts/HelveticaNeueRegular.svg#HelveticaNeueRegular') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

