@mixin desktop{
  @media only screen and (min-width: 1200px) and (max-width: 1390px) {
    @content
  }
}
@mixin lessdesktop{
  @media only screen and (max-width: 1600px) {
    @content
  }
}
@mixin desktop-small{
  @media only screen and (max-width: 1366px){
    @content
  }
}
@mixin desktop-sls{
  @media (max-width: 1280px) and (min-width: 1200px){
    @content
  }
}
@mixin tablet-horizontal{
  @media only screen and (max-width: 1199px) {
    @content
  }
}
@mixin tablet{
  @media(max-width: 991px) {
    @content
  }
}
@mixin mobile-horizontal{
  @media only screen and (max-width: 767px) {
    @content
  }
}
@mixin mobile{
  @media only screen and (max-width: 576px){
    @content
  }
}

@mixin resize-img(){
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
@mixin resize-before($pdb){
  content: '';
  display: block;
  padding-bottom: $pdb;
}

body{
  overflow-x: hidden;
}
.banner{
  //overflow: hidden;
  position: relative;
  z-index: 8
}
.container-banner{
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 1050px;
  width: 100%;
  padding: 0 15px;
  transform: translate(-50%, -50%);
  z-index: 9;
  &.z-index-hight{
    z-index: 9;
  }
  @include tablet-horizontal{
    max-width: 840px;
  }
  @include tablet{
    max-width: 85%;
  }
  .slogan{
    color: #231f20;
    font-size: 70px;
    font-weight: 900;
    line-height: 68px;
    margin-bottom: 57px;
    text-transform: uppercase;
    @include tablet-horizontal{
      font-size: 55px;
      line-height: 55px;
      margin-bottom: 35px;
    }
    @include tablet{
      display: none;
    }
  }
  .block-search{
    position: relative;
    input{
      height: 60px;
      width: 100%;
      padding: 6px 67px 6px 67px;
      border: none;
      font-family: 'HelveticaNeue';
      @include tablet-horizontal{
        height: 50px;
      }
      @include mobile{
        padding: 6px 61px 6px 45px;
      }
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #929497;
        font-family: 'HelveticaNeue';
        font-size: 18px;
        font-weight: 500;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: #929497;
        font-family: 'HelveticaNeue';
        font-size: 18px;
        font-weight: 500;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: #929497;
        font-size: 18px;
        font-family: 'HelveticaNeue';
        font-weight: 500;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: #929497;
        font-size: 18px;
        font-family: 'HelveticaNeue';
        font-weight: 500;
      }
    }
    .icon-search{
      position: absolute;
      left: 22px;
      top: 50%;
      transform: translateY(-50%);
      width: 32px;
      @include tablet-horizontal{
        width: 28px;
      }
      @include mobile{
        width: 23px;
        left: 13px;
      }
    }
    .btn-search{
      position: absolute;
      top: 0;
      right: 0;
      background: #000002;
      height: 60px;
      color: #fdfce9;
      font-size: 25px;
      font-weight: 500;
      text-transform: uppercase;
      border: none;
      padding: 0 52px;
      font-family: 'HelveticaNeue';
      @include tablet-horizontal{
        font-size: 25px;
        padding: 0 32px;
        height: 50px;
      }
      @include tablet{
        padding: 0;
        height: 50px;
        width: 50px;
        span{
          display: none;
        }
      }
      img{
        display: none;
        @include tablet{
          display: block;
          width: 31px;
          margin: 0 auto;
        }
      }
    }
  }
}
.clubambiance{
  text-transform: uppercase;
  color: #ae2147;
  position: absolute;
  right: 4%;
  bottom: 4%;
  font-weight: 700;
  font-size: 18px;
  @include tablet{
    font-size: 16px;
  }
  @include mobile-horizontal{
    font-size: 14px;
  }
  @include mobile{
    font-size: 12px;
    right: 8%;
    bottom: 11%;
  }
}
.logo{
  position: absolute;
  left: 3%;
  top: 6%;
  @include tablet{
    left: auto;
    right: 9%;
  }
  @include mobile{
    right: 11%;
  }
  img{
    width: 100px;
    @include tablet-horizontal{
      width: 70px;
    }
    @include tablet{
      width: 62px;
    }
    @include mobile-horizontal{
      width: 37px;
    }

  }
}
.community{
  position: absolute;
  top: 5%;
  right: 4%;
  padding: 13px 24px;
  background: #fff;
  color: #231f20;
  text-transform: uppercase;
  font-family: 'HelveticaNeue';
  font-weight: 700;
  border: none;
  font-size: 18px;
  @include tablet-horizontal{
    padding: 13px 20px;
    font-size: 16px;
  }
  @include tablet{
    display: none;
  }
  img{
    margin-right: 15px;
    width: 14px;
  }
}

.membercard{
  position: absolute;
  right: 0;
  transform: translateX(100%);
  top: 0;
  height: 100%;
  background: #fff;
  padding: 5% 5% 5% 5%;
  width: 33%;
  transition: all 0.3s;
  z-index: 999;
  @media (max-width: 1199px) {
    width: 40%;
  }
  @include tablet{
    width: 50%;
    left: 0;
    right: auto;
    transform: translateX(-100%);
  }
  @include mobile-horizontal{
    padding: 3%;
  }
  &.active{
    transform: translateX(0%);
    transition: all 0.3s;

  }
  .flex-member{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .title-membercard{
    font-weight: 700;
    color: #231f20;
    font-size: 35px;
    line-height: 38px;
    margin-bottom: 22px;
    @include tablet{
      font-weight: 700;
      color: #231f20;
      font-size: 26px;
      line-height: 30px;
      margin-bottom: 15px;
    }
    @include mobile-horizontal{
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 10px;
    }
    @include mobile{
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 7px;
    }
  }
  .block-club{
    background: #FBCDCA;
    border-radius: 50px;
    padding: 20px 37px 20px;
    margin-bottom: 40px;
    @media (max-width: 1440px) {
      padding: 20px;
    }
    @include tablet{
      padding: 15px 20px;
      margin-bottom: 30px;
    }
    @include mobile-horizontal{
      padding: 15px 20px;
      margin-bottom: 15px;
      border-radius: 40px;
    }
    @include mobile{
      padding: 9px 10px;
      margin-bottom: 10px;
      border-radius: 25px;
    }
    @media (max-width: 375px) {
      border-radius: 25px;
      margin-bottom: 5px;
    }
    .club-left{
      color: #231f20;
      font-weight: 700;
      font-size: 27px;
      line-height: 30px;
      float: left;
      text-transform: uppercase;
      @media (max-width: 1365px) {
        font-size: 22px;
        line-height: 30px;
      }
      @include tablet{
        font-size: 20px;
        line-height: 22px;
      }
      @include mobile-horizontal{
        font-size: 16px;
        line-height: 18px;
      }
      @include mobile{
        font-size: 12px;
        line-height: 14px;
      }
      img{
        margin-left: 15px;
        width: 36px;
        @include tablet{
          width: 31px;
        }
        @include mobile-horizontal{
          width: 25px;
        }
        @include mobile{
          width: 22px;
          margin-left: 7px;
        }
        @media (max-width: 375px) {
          width: 17px;
          margin-left: 5px;
        }
      }
      div{
        font-size: 18px;
        @include tablet{
          font-size: 16px;
        }
        @include mobile-horizontal{
          font-size: 16px;
        }
        @include mobile{
          font-size: 12px;
        }
      }
    }
    .club-right{
      float: right;
      @media (max-width: 375px) {
        float: left;
      }
      span{
        display: block;
        margin-top: 35px;
        margin-bottom: 15px;
        font-size: 9px;
        line-height: 10px;
        font-weight: 700;
        @include tablet{
          font-size: 8px;
          line-height: 9px;
        }
        @include mobile-horizontal{
          font-size: 8px;
          line-height: 9px;
        }
        @include mobile{
          font-size: 6px;
          line-height: 9px;
          margin-top: 25px;
          margin-bottom: 6px;
        }
        @media (max-width: 375px) {
          margin-top: 5px;
          margin-bottom: 0px;
          display: inline-block;
        }
      }
      img{
        width: 70px;
        @include tablet{
          width: 56px;
        }
        @include mobile{
          width: 31px;
        }
        @media (max-width: 375px) {
          width: 25px;
        }
      }
    }
  }
}
.doorgaan {
  background: #231F20;
  border: none;
  color: #fff;
  font-weight: 700;
  padding: 8px 21px;
  font-size: 18px;
  @include tablet{
    padding: 5px 18px;
  }
  @include mobile-horizontal{
    padding: 5px 18px;
    font-size: 16px;
  }
  @include mobile{
    padding: 2px 10px;
    font-size: 14px;
  }
  @media (max-width: 375px) {
    font-size: 13px;
    padding: 0px 7px;
  }
}

.box-suggestions{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 30px 20px;
  box-shadow: 0px 9px 16px 8px rgba(151, 151, 151, 0.4);
  background: #fff;
  display: none;
  @include tablet{
    padding: 20px 20px;
  }
  @include mobile-horizontal{
    padding: 15px;
  }
  @include mobile{
    padding: 15px 10px;
  }
}
.element-buurt{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  @include tablet{
    margin-bottom: 25px;
  }
  @include mobile-horizontal{
    margin-bottom: 20px;
  }
  @include mobile{
    margin-bottom: 15px;

  }
  img{
    width: 55px;
    margin-right: 20px;
    @include tablet{
      width: 40px;
    }
    @include mobile-horizontal{
      width: 35px;
      margin-right: 15px;
    }
  }
  .txt-buurt{
    font-weight: 500;
    font-size: 20px;
    @include mobile-horizontal{
      font-size: 18px;
    }
    @include mobile{
      font-size: 16px;
    }
  }
}
.txt-ontdek{
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 500;
  color: #231f20;
  @include tablet{
    font-size: 16px;
    margin-bottom: 25px;
  }
  @include mobile-horizontal{
    font-size: 16px;
    margin-bottom: 20px;
  }
  @include mobile{
    font-size: 14px;
    margin-bottom: 15px;
  }
}
.suggestions-cate{
  margin-bottom: 15px;
  @include mobile{
    margin-bottom: 5px;
  }
  &.cate_mobile li a{
    font-size: 16px;
    img{
      height: 60px;
    }
  }
  @media(max-width: 991px){
    &.cate_mobile{
      flex-wrap: wrap;
      padding: 0;
      li{
        width: 25%;
        margin-bottom: 20px;
        @include mobile-horizontal{
          margin-bottom: 15px;
        }
        @include mobile{
          //margin-bottom: 10px;
        }
        a{
          font-size: 12px;
          @include mobile{
            font-size: 10px;
          }
          img{
            height: 45px;
            @include mobile{
              height: 35px;
            }
          }
        }
      }
    }
  }

}
.txt-onlangs{
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 500;
  color: #231f20;
  @include tablet{
    margin-bottom: 25px;
  }
  @include mobile-horizontal{
    font-size: 16px;
    margin-bottom: 20px;

  }
  @include mobile{
    font-size: 14px;
    margin-bottom: 15px;
  }
}
.item-onlangs{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 20px;
    @include tablet{
      width: 65px;
      height: 65px;
      margin-right: 15px;
    }
    @include mobile-horizontal{
      width: 60px;
      height: 60px;
    }
    @include mobile{
      width: 55px;
      height: 55px;
    }
  }
}
.onlangs-right{
  padding: 15px 0;
  border-bottom: 1px solid #D1D2D4;
  width: calc(100% - 100px);
  @include tablet{
    padding: 6px 0;
  }
  .title-nameonlangs{
    a{
      font-weight: 700;
      margin-bottom: 7px;
      font-size: 18px;
      line-height: 18px;
      display: inline-block;
      @include mobile-horizontal{
        font-size: 16px;
      }
      @include mobile{
        font-size: 14px;
        line-height: 17px;
      }
    }

  }
  .sub-onlangs{
    margin-bottom: 8px;
    color: #a7a9ac;
    font-size: 16px;
    line-height: 16px;
    @include mobile-horizontal{
      margin-bottom: 3px;
    }
    @include mobile{
      font-size: 14px;
      line-height: 14px;
      margin-bottom: 0;
    }
  }
}




.container-gerechten{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.txt-gerechten{
  color: #C2B59B;
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
  font-weight: 700;
  margin: 50px 0 20px;
  @include tablet{
    margin: 30px 0 20px;
  }
  @include mobile-horizontal{
    margin: 20px 0 15px;
    font-size: 18px;
  }
  @include mobile{
    font-size: 16px;
  }
}
.block-white{
  background: #fff;
  box-shadow: 0px 9px 16px 8px rgba(151, 151, 151, 0.4);
  padding: 70px 60px;
  margin-bottom: 20px;
  @include tablet{
    padding: 40px 40px;
  }
  @include mobile-horizontal{
    padding: 20px 20px;
  }
  @include mobile{
    padding: 20px 15px;
  }
}
.sub-bistro{
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 30px;
  @include mobile-horizontal{
    font-size: 14px;
    margin-bottom: 20px;
  }
  @include mobile{
    margin-bottom: 15px;
  }
}

.txt-recepten{
  color: #C2B59B;
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
  font-weight: 700;
  margin: 50px 0 20px;
  @include mobile-horizontal{
    font-size: 18px;
    margin: 20px 0 15px;
  }
  @include mobile{
    font-size: 16px;
  }
}
.title-bistro{
  color: #231F20;
  line-height: 28px;
  margin-bottom: 8px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 28px;
  @include mobile-horizontal{
    font-size: 22px;
  }
  @include mobile{
    font-size: 18px;
  }
}
.list-img-gerechten{
  margin: 0 -10px;
  li{
    float: left;
    padding: 0 10px;
    width: 25%;
    margin-bottom: 15px;


    @include mobile-horizontal{
      width: 33.3333%;
    }
    @include mobile{
      width: 50%;
      font-size: 14px;
    }
    .box-img-gerechten{
      display: block;
      position: relative;
      &:after{
        @include resize-before(100%);
      }
      img{
        @include resize-img;
        object-fit: cover;
      }
    }
  }
}

.img-recepten{
  width: 100%;
  margin-bottom: 30px;
  @include mobile-horizontal{
    margin-bottom: 15px;
  }
  @include mobile{
    margin-bottom: 10px;
  }
}
.title-recepten{
  color: #231F20;
  line-height: 28px;
  margin-bottom: 30px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 28px;
  @include mobile-horizontal{
    font-size: 22px;
    margin-bottom: 15px;
  }
  @include mobile{
    font-size: 18px;
    line-height: 18px;
  }
}
.info-food{
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 30px;
  @include mobile-horizontal{
    font-size: 14px;
    margin-bottom: 20px;
  }
  @include mobile{
    margin-bottom: 15px;
  }
}
.info-detail-food{
  margin-bottom: 25px;
  @include mobile-horizontal{
    margin-bottom: 15px;
  }
  li{
    margin-bottom: 7px;
    font-family: 'Helvetica';

    font-size: 14px;
  }
}



.txt-qrcode{
  color: #C2B59B;
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
  font-weight: 700;
  margin: 50px 0 20px;
  @include tablet{
    margin: 30px 0 20px;
  }
  @include mobile-horizontal{
    margin: 20px 0 15px;
    font-size: 18px;
  }
  @include mobile{
    font-size: 16px;
  }
}
.box-pink{
  background: #FACDCA;
  padding: 100px 0;
  @include mobile-horizontal{
    padding: 30px 0;
  }
  @include mobile{
    padding: 20px 0;
  }
}
.block-qrcode-top{
  background: #fff;
  padding: 70px;
  @include tablet{
    padding: 40px;
  }
  @include mobile-horizontal{
    padding: 30px;
  }
  @include mobile{
    padding: 20px;
  }

}
.title-qrcode{
  position: relative;
  font-size: 70px;
  line-height: 67px;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 30px;
  @include tablet{
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 25px;
  }
  @include mobile-horizontal{
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 20px;
  }
  @include mobile{
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 15px;
  }
  img{
    width: 158px;
    position: absolute;
    top: -24px;
    left: 108%;
    @include tablet{
      width: 128px;
    }
    @include mobile-horizontal{
      width: 76px;
      top: -14px;
    }
    @include mobile{
      width: 54px;
      top: -10px;
    }
  }
}
.container-qrcode{
  max-width: 960px;
  margin: 0 auto;
  padding: 0 30px;
  @include mobile{
    padding: 0 20px;
  }
}
.sub-qrcode {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 20px;
  @include mobile-horizontal{
    font-size: 16px;
    line-height: 19px;
  }
  @include mobile{
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 15px;
  }
}
.mijn {
  background: #A4D4A3;
  padding: 40px 60px;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 20px;
  @include tablet{
    padding: 30px 40px;
    font-size: 25px;
  }
  @include mobile-horizontal{
    padding: 25px 30px;
    font-size: 20px;
  }
  @include mobile{
    padding: 20px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
  }
}
.btn-mijn{
  background: #fff;
  color: #939598;
  font-family: 'Helvetica';
  font-weight: 500;
  box-shadow: 0px 9px 16px 8px rgba(151, 151, 151, 0.4);
  padding: 11px 15px;
  font-size: 16px;
  border: none;
  margin-bottom: 10px;
  width: 170px;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #939598;
    font-family: 'HelveticaNeue';
    font-size: 14px;
    font-weight: 500;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: #939598;
    font-family: 'HelveticaNeue';
    font-size: 14px;
    font-weight: 500;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: #939598;
    font-size: 14px;
    font-family: 'HelveticaNeue';
    font-weight: 500;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: #939598;
    font-size: 14px;
    font-family: 'HelveticaNeue';
    font-weight: 500;
  }
  @include mobile-horizontal{
    padding: 8px 15px;
  }
  @include mobile{
    font-size: 14px;
  }
}
.btn-doorgaan{
  background: #D1D2D4;
  color: #fff;
  border: none;
  font-family: 'Helvetica';
  font-weight: 500;
  width: 170px;
  padding: 11px 0;
  @include mobile-horizontal{
    padding: 8px 0;
  }
  @include mobile{
    font-size: 14px;
  }
}
.btn-block{
  //margin-bottom: 50px;
}
.block-qrcode-bottom {
  padding: 50px 50px;
  background: #fff;
  @include tablet{
    padding: 40px 30px;
  }
  @include mobile-horizontal{
    padding: 30px 40px;
  }
  @include mobile{
    padding: 20px;
  }
}
.item-field{
  margin-bottom: 20px;
  font-family: 'Helvetica';
  @include mobile{
    margin-bottom: 15px;
  }
}
.label-field{
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 14px;

  span{
    color: red;
  }
}
.ip-field{
  width: 100%;
  height: 40px;
  border: 1px solid #C2C4C4;
  padding: 5px 10px;
  @include mobile{
    height: 35px;
  }
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #929497;
    font-family: 'HelveticaNeue';
    font-size: 14px;
    font-weight: 500;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: #929497;
    font-family: 'HelveticaNeue';
    font-size: 14px;
    font-weight: 500;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: #929497;
    font-size: 14px;
    font-family: 'HelveticaNeue';
    font-weight: 500;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: #929497;
    font-size: 14px;
    font-family: 'HelveticaNeue';
    font-weight: 500;
  }
}
.sl-field{
  width: 100%;
  height: 40px;
  border: 1px solid #C2C4C4;
  padding: 5px 10px;
  @include mobile{
    height: 35px;
  }
}
.check-box-lbl{
  font-size: 16px;
  color: #000;
  font-weight: 700;
}
.div-h80{
  margin-top: 45px;
  @include mobile-horizontal{
    display: none;
  }
}
.btn-bevestigen{
  background: #D1D2D4;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
  padding: 15px 0;
  width: 220px;
  border: none;
  @include tablet{
    margin-top: 20px;
  }
  @include mobile{
    margin-top: 10px;
    font-size: 14px;
    padding: 10px 0;
  }
}
.sub-bevestigen {
  color: #000;
  font-weight: 700;
  font-size: 19px;
  font-family: Futura;
  @include mobile{
    font-size: 14px;
  }
}
.check-box-ip {
  float: left;
  margin-right: 5px;
  margin-top: 3px;
}
.check-box-lbl {
  float: left;
  width: calc(100% - 30px);
}
.text-center-mbhori{
  @include mobile-horizontal{
    //display: flex;
    //flex-direction: column;
    //justify-content: center;
    //align-items: center;
    //.sub-bevestigen{
    //  padding: 0 20px;
    //}
    text-align: center;
  }
}
.fix-popup{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  z-index: 99999999;
  display: none;
  @media (max-width: 1600px) {

    max-width: 1000px;
  }
  @media (max-width: 1366px) and (min-width: 992px){

    max-width: 800px;
  }

}
.poup-drop{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.popup-welkom{
  //position: absolute;
  //width: 70%;

  background: #A8D5A5;

  padding: 100px 15px;
  @media (max-width: 1600px) {
    padding: 50px;

  }

  @media (max-width: 1366px) {
    padding: 15px;
    .popup-welkom .title-qrcode{
      font-size: 54px;
    }
  }
  @media (max-width: 1199px) {
    //width: 80%;
    padding: 5% 8%;
  }

  .close-popup{
    position: absolute;
    right: 3%;
    top: 2%;
    color: #000;
    font-size: 41px;
    line-height: 41px;
    cursor: pointer;
    @include mobile-horizontal{
      right: 5%;
      top: 1%;
      font-size: 30px;
      line-height: 30px;
    }
    @include mobile{
      right: 11%;
      top: 5%;
      font-size: 29px;
      line-height: 29px;
    }
  }
  .block-white-welkom{
    background: #fff;
    padding: 50px;
    margin: auto;
    max-width: 600px;
    @include mobile{
      padding: 15px;
    }
  }
  .btn-block{
    margin-bottom: 20px;
    .btn-mijn{
      width: 70%;
    }
    .btn-doorgaan{
      width: 70%;
    }
    @include mobile{
      margin-bottom: 15px;
    }
  }
  .title-qrcode{
    font-size: 60px;
    line-height: 60px;
    @media (max-width: 1367px) {
      font-size: 48px;
      line-height: 38px;
    }
    @include tablet{
      font-size: 50px;
      line-height: 52px;
    }
    @include mobile-horizontal{
      font-size: 40px;
      line-height: 40px;
    }
    @include mobile{
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 10px;
    }
  }
  .title-qrcode img{
    top: -27px;
    left: 102%;
    width: 145px;
    @media (max-width: 1600px) and (min-width: 992px){
      top: -27px;
      left: 102%;
      width: 141px;
    }
    @include tablet{
      top: -30px;
      left: 99%;
      width: 137px;
    }
    @include mobile-horizontal{
      top: -30px;
      left: 99%;
      width: 109px;
    }
    @include mobile{
      width: 58px;
      top: -11px;
      left: 100%;
    }
  }
  @include tablet{
    //width: 85%;
    padding: 5% 8%;
    .btn-block{
      .btn-mijn{
        width: 80%;
      }
      .btn-doorgaan{
        width: 80%;
      }
    }
  }
  @include mobile-horizontal{
    //width: 95%;
    padding: 8% 8%;
  }
  @include mobile{
    padding: 5% 5%;
  }
}

.regulations{
  margin-left: 40px;
  div{
    float: left;
    margin-right: 5px;
  }
  span{
    float: left;
    color: #939598;
    font-family: 'HelveticaNeue';
    font-size: 18px;
    @include mobile-horizontal{
      font-size: 16px;
    }
    @include mobile{
      font-size: 13px;
    }
  }
  @include tablet{
    margin-left: 30px;
  }
  @include mobile{
    margin-left: 15px;
  }
}
.regulations input[type="checkbox"][disabled="disabled"] {
  background: transparent;
}

.regulations input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  margin-top: -5px;
}

.regulations input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 7px;
  display: table;
  width: 6px;
  height: 14px;
  border: 3px solid #fff;
  border-top-width: 0px;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.regulations input[type="checkbox"]:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 3px solid #939598;
  -webkit-transition: 240ms;
  transition: 240ms;
  background: transparent;
}

.regulations input[type="checkbox"]:checked:after {
  background-color: #F7CDC9;
  border-color: #F7CDC9;
}

.regulations input[type="checkbox"] ~ label {
  cursor: pointer;
}


.title-vacature{
  color: #C2B59B;
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
  font-weight: 700;
  margin: 50px 0 20px;
  @include tablet{
    margin: 30px 0 20px;
  }
  @include mobile-horizontal{
    margin: 20px 0 15px;
    font-size: 18px;
  }
  @include mobile{
    font-size: 16px;
  }
}
.container-vacature{
  max-width: 960px;
  margin: 0 auto;
  padding: 0 30px;
  @include tablet{
    padding: 0 15px;
  }
  .box-vaca{
    box-shadow: 1px 1px 17px rgba(0 ,0 ,0, 0.35);
    padding: 5%;
    margin-bottom: 25px;

    @include mobile-horizontal{
      box-shadow: none;
      margin-bottom: 20px;
    }
    @include mobile{
      padding: 3% 5%;
      margin-bottom: 15px;
    }
  }
}
.txt-alle{
  color: #231f20;
  font-size: 22px;
  font-family: 'HelveticaNeue';
  margin-bottom: 30px;
  @include tablet{
    font-size: 18px;
    font-weight: 700;
  }
  @include mobile-horizontal{
    margin-bottom: 20px;
    font-size: 16px;
  }
  @include mobile{
    margin-bottom: 15px;
  }
}
.heading-vaca{
  margin: 0;
  color: #d1d3d4;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 35px;
  cursor: pointer;
  .angle-top{
    display: inline-block;
  }
  .angle-down{
    display: none;
  }
  &.active{
    .angle-top{
      display: none;
    }
    .angle-down{
      display: inline-block;
    }
  }
  @include tablet{
    font-size: 26px;
  }
  @include mobile-horizontal{
    font-size: 22px;
    line-height: 28px;
  }
  @include mobile{
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 10px;
  }
  img{
    width: 15px;
    margin-right: 10px;
  }
}
.txt-right{
  color: #231f20;
  font-family: 'HelveticaNeue';
  font-size: 26px;
  @include tablet{
    font-size: 22px;
  }
  @include mobile-horizontal{
    font-size: 16px;
    line-height: 19px;
  }
  @include mobile{
    font-size: 14px;
    line-height: 18px;
  }
}
.angle-top{

}

.content-vaca{
  p{
    color: #231f20;
    margin-bottom: 30px;
    font-size: 14px;
    font-family: 'HelveticaNeue';
    @include mobile-horizontal{
      margin-bottom: 20px;
    }
    @include mobile{
      margin-bottom: 15px;
    }
  }
  .img-vaca{
    margin-bottom: 30px;
    width: 50%;
    display: block;
    @include mobile-horizontal{
      margin-bottom: 20px;
    }
    @include mobile{
      margin-bottom: 15px;
    }
  }
  .img-vaca2{
    margin-bottom: 20px;
    width: 100%;
    @include mobile-horizontal{
      margin-bottom: 15px;
    }
    @include mobile{
      margin-bottom: 10px;
    }
  }
}
.btn-vaca{
  width: 170px;
  padding: 10px 0;
  color: #fff;
  font-size: 16px;
  font-family: 'HelveticaNeue';
  border: none;
  background: #000000;
  @include mobile{
    padding: 6px 0;
  }
}
.content-vaca{
  margin-bottom: 20px;
}
.membercard.member-cardbot{
  position: static;
  right: 0;
  transform: translateX(0);
  top: 0;
  height: auto;
  background: #fff;
  padding: 5% 5% 5% 5%;
  width: 100%;
  transition: all 0.3s;
  z-index: 1;
  box-shadow: 0px 9px 16px 8px rgba(151, 151, 151, 0.4);
  margin-top: 40px;
}
.class-white{
  display: none;
}
body{
  &.active{
    position: relative;
    .back-drop{
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255 ,0.58);
      z-index: 7;
    }
    .block-search{
      z-index: 99999999999;
    }
    .slogan{
      opacity: 0.28;
    }
  }
}
.item-vaca.itemvava2{
  .heading-vaca{
    img{
      margin-left: 15px;
      margin-right: 0;
    }
  }
}

.txt-bekịk{
  color: #101416;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
  text-transform: uppercase;
  @include mobile{
    font-size: 14px;
  }
  a{
    font-weight: 700;
    &:hover{
      text-decoration: underline;
      color: #101416;

    }
  }
}

.img-gezocht{
  
}
.block-gezocht{
  background: #FBD0D0;
  padding: 20px 20px 30px;
  width: 600px;
  text-transform: uppercase;
  @include mobile-horizontal{
    width: 100%;
  }
  @include mobile{
    padding: 15px 15px 30px;
  }
  .img-gezocht{
    float: left;
    width: 100px;
    margin-right: 15px;
    
    @include mobile-horizontal{
      width: 70px;
    }
    @include mobile{
      width: auto;
      float: unset;
      margin-right: 0;
    }
    img{
      width: 100%;
      object-fit: cover;
      @include mobile{
        width: 70px;
        margin: 0 auto 10px;
      }
    }
  }
  .box-gezocht-right{
    float: left;
    @include mobile{
      float: unset;
    }
    .txt-gezocht{
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 25px;
      @include mobile-horizontal{
        font-size: 16px;
        margin-bottom: 20px;
      }
      @include mobile{
        font-size: 14px;
        text-align: center;
        margin-bottom: 15px;
      }
    }
    .box-yl{
      background: #F6DD19;
      height: 50px;
      width: 400px;
      position: relative;
      @include mobile-horizontal{
        width: 370px;
      }
      @include mobile{
        width: 100%;
        height: 40px;
      }
      .box-gr{
        height: 50px;
        width: 400px;
        background: #A0D7C6;
        position: absolute;
        font-size: 22px;
        line-height: 50px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        left: 15px;
        top: -15px;
        padding: 0 15px;
        @include mobile-horizontal{
          width: 370px;
          font-size: 16px;
        }
        @include mobile{
          font-size: 14px;
          width: 90%;
          left: 50%;
          transform: translateX(-50%);
          height: 40px;
          line-height: 40px;
          top: -10px;
        }
      }
    }

  }

}
.owl-carousel .owl-dots .owl-dot span{
  background: #fff;
  margin: 3px 3px;
}
.owl-carousel .owl-dots .owl-dot.active span, .owl-carousel .owl-dots .owl-dot:hover span{
  background: #BCBFBE;
}
.owl-carousel .owl-dots{
  text-align: right;
  bottom: -25px;
  @include mobile{
    bottom: -30px;
  }
}
.owl-carousel .owl-dots .owl-dot span{

}









//style recepten_vpprstel


.txt-kabe {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 25px;
  @include tablet{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  @include mobile-horizontal{
    font-size: 22px;
  }
  @include mobile{
    font-size: 18px;
  }
}
.img-voorstel {
  margin-bottom: 15px;
  @include mobile-horizontal{
    margin-bottom: 10px;
  }
}

.info-voorstel {
  padding: 5px 30px;
  @include tablet{
    padding: 5px 20px;
  }
  @include mobile-horizontal{
    padding: 0px 10px;
  }
  @include mobile{
    padding: 5px 0;
  }
}
.name-voorstel {
  text-transform: uppercase;
  font-size: 14px;
  color: #000;
  font-weight: 700;
  margin-bottom: 30px;
  @include tablet{
    margin-bottom: 25px;
  }
  @include mobile-horizontal{
    margin-bottom: 20px;
  }
}
.list-info-voorstel{
  margin-bottom: 30px;
  @include tablet{
    margin-bottom: 25px;
  }
  @include mobile-horizontal{
    margin-bottom: 20px;
  }
  @include mobile-horizontal{
    margin-bottom: 15px;
  }
  >div{
    margin-bottom: 12px;
    display: inline-block;
    .info-voorstel-img{
      width: 60px;
      height: 60px;
      border: 1px solid #CBCDCC;
      border-radius: 50%;
      margin: 0 auto 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        width: 30px;
      }
    }
    .info-voorstel-text{
      text-align: center;
      font-weight: 700;
      color: #919697;
      font-size: 13px;
    }
  }
}
.title-voorstel{
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: 700;
  color: #222425;
  font-size: 14px;
  @include mobile-horizontal{
    margin-bottom: 10px;
  }
}
.list-item-uper{
  margin-bottom: 20px;
  @include mobile-horizontal{
    margin-bottom: 15px;
  }

  li{
    margin-bottom: 15px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    @include tablet{
      margin-bottom: 10px;
    }
  }

}
.list-bereiding{
  li{
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 14px;
    @include tablet{
      margin-bottom: 10px;
    }
  }
}
.item-voorstel-right{
  margin-bottom: 20px;
  @include mobile-horizontal{
    margin-bottom: 15px;
  }
}
.btn-voorstel{
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  @include mobile{
    display: block;
    margin-right: 0;
  }

  span{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
    margin-right: 50px;
    @include mobile{
      margin-right: 20px;
    }
  }
}
.btn-afdrukken{
  width: 150px;
  font-size: 14px;;
  font-weight: 700;
  color: #fff;
  background: #000;
  padding: 8px 0;
  border: none;
  text-transform: uppercase;
  margin-right: 90px;
  @include mobile{
    margin-right: 0;
    display: block;
    margin-bottom: 10px;
  }
}
.list-cennect{
  @include mobile{
    display: inline-block;
  }
  li{
    display: inline-block;
    margin-right: 10px;
  }
}