
.search_drop {
  position: relative;

}

.search_drop .form_search {
  position: absolute;
  z-index: 999;
  width: 290px;
  top: 100%;
  right: -20px;
  background: #fff;
  border-top: 2px solid #facdc9;
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 15px 10px;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden
}

.search_drop .form_search input.form-control {
  height: 32px;
  border: 1px solid #ddd;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none
}

.search_drop .form_search button.btn-default {
  height: 32px;
  border-radius: 0;
  background: #000;
  color: #fff;
  border: 0;
  font-size: 14px;
  text-transform: uppercase
}

.search_drop .form_search:before {
  position: absolute;
  top: -8px;
  right: 22px;
  display: block;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5.5px 6px 5.5px;
  border-color: transparent transparent #facdc9 transparent
}

.search_drop .form_search.open {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(10px);
  transform: translateY(10px)
}


.logo_pc{
  padding: 60px 0 40px;
  img{
    display: block;
    max-width: 50%;
    margin: auto;
  }
}
.header_nav{
  padding: 0px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  position: relative;
  z-index: 10;
  .header_action{
    position: absolute;
    right: 20px;
    bottom: 13px;
    display: flex;
    align-items: center;
    z-index: 1;
    .search_drop{
      margin-left: 15px;
    }
  }
  @media (max-width: 991px){
    padding: 0;
    margin-bottom: 0;
  }
}
.btn-fillter, .btn-link{
  font-weight: bold;
  background: #000;
  color: #fff;
  font-size: 18px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 20px;
  &:hover{
    color: #fff;
  }
}
.form-name{
  font-size: 16px;
  color: #000;
  font-weight: bold;
  margin-bottom: 15px;
}
.list_label{
  margin-bottom: 25px;
  li{
    font-size: 15px;
    margin-bottom: 7px;

    label{
      padding-left: 25px;
      position: relative;
      input{
        display: none;
      }
      .check-mask{
        display: block;
        position: absolute;
        top: 3px;
        left: 0;
        width: 15px;
        height: 15px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 3px solid #000;
      }
      input:checked + .check-mask{
        background: #000;
      }
    }
  }
}
.range-price{
  label{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
  }
}
.rSlider {
  position: relative;
}
.rSlider .slide {
  background: #000;
  height: 15px;
  width: 80px;
  position: absolute;
  left: 0;
  top: 3px;
  z-index: 2;
}
.rSlider{
  /*Chrome*/
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 100%;
      height: 15px;
      -webkit-appearance: none;
      background-color: #fff;
      border: 3px solid #000;
      outline: none !important;
    }

    input[type='range']::-webkit-slider-runnable-track {
      height: 15px;
      -webkit-appearance: none;
      color: #000;
      margin-top: -1px;
    }

    input[type='range']::-webkit-slider-thumb {
      width: 15px;
      -webkit-appearance: none;
      height: 15px;
      cursor: ew-resize;
      background: #000;
      box-shadow: -300px 0 0 300px #000;
    }

  }
  /** FF*/
  input[type="range"]::-moz-range-progress {
    background-color: #000;
  }
  input[type="range"]::-moz-range-track {
    background-color: #ccc;
  }
  /* IE*/
  input[type="range"]::-ms-fill-lower {
    background-color: #000;
  }
  input[type="range"]::-ms-fill-upper {
    background-color: #ccc;
  }
}

.cate_list{
  margin-bottom: 60px;
}

.title-page{
  font-size: 30px;
  color: #000;
  font-weight: bold;
  margin-bottom: 30px;
  @media (max-width: 767px){
    font-size: 20px;
  }
}
.cate_box{
  display: block;
  margin-bottom: 30px;
  >a{
    display: block;
    overflow: hidden;
    position: relative;
    &:before{
      content: '';
      display: block;
      padding-bottom: 62%;
    }
    img{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      display: block;
      transition: all 0.15s linear;

    }
    &:hover{
      img{
        transform: scale(1.1);
      }
    }
  }
  h3{
    font-weight: bold;
    color: #000;
    font-size: 20px;
    margin-top: 15px;
    a:hover{
      color: #facdc9;
      transition: all 0.15s linear;
    }
    @media (max-width: 767px){
      font-size: 14px;
    }
  }
}

.view_more{
  color: #bcbec0;
  transition: all 0.15s;
  &:hover{
    color: #000;
  }
}
.prod_list{
  margin-bottom: 60px;
}
.des_local a{
  font-weight: bold;
  color: #000;
  font-size: 20px;
  margin-right: 7px;
  @media (max-width: 767px){
    font-size: 15px;
  }
}
.row_local, .row_info{
  margin-bottom: 60px;
}
.des_txt{
  font-weight: bold;
  color: #000;
  font-size: 20px;
  @media (max-width: 767px){
    font-size: 15px;
  }
}
.txt_video{
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 40px;
}
.block_video{
  position: relative;
  padding-bottom: 60%;
  margin-bottom: 45px;
  iframe{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  @media (max-width: 767px){
    display: none;
  }
}
@media (min-width: 768px){
  .prod_mobile{
    display: none;
  }
  .prod_list{
    .cate_box a:before{
      padding-bottom: 100%;
    }
  }
  .swiper-cate{
    .swiper-wrapper{
      margin: 0 -15px;
      .swiper-slide{
        width: 33.333333%;
        padding: 0 15px;
      }
    }
  }
}
@media (max-width: 767px){
  .swiper-cate{
    .swiper-wrapper{
      margin: 0 -15px;
      .swiper-slide{
        width: 65%;
        padding: 0 15px;
      }
    }
  }
  .prod_pc{
    display: none;
  }
  .btn-link{
    font-size: 14px;
  }
}

.cate_mobile{
  display: flex;
  padding: 20px 5px;
  li{
    width: 16%;
    padding: 0 5px;
    a{
      display: block;
      font-weight: bold;
      font-size: 8px;
      text-align: center;
      img{
        height: 35px;
        display: block;
        margin: 0 auto 7px;
      }
    }
    &:last-child{
      a{
        img{
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
.img-big{
  height: 100%;
  img{
    height: 100%;
  }
}
.img-big, .img-small{
  display: block;
  img{
    display: block;
  }
}
.img-small{
  position: relative;
  &:before{
    content: '';
    display: block;
    padding-bottom: 73%;
  }
  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .fa{
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 70px;
    z-index: 1;
  }
}
.btn-login-mb{
  top: 0;
  left: 0;
  color: #fff !important;
  font-weight: bold;
  background: #000;
  font-size: 14px !important;
}
.btn-download{
  font-size: 25px;
  font-weight: bold;
  display: inline-block;
  padding: 0 20px;
  transition: all 0.15s linear;
  &:hover{
    color: #ec008c;
  }
}
.block-border{
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 30px;
  font-size: 16x;
  .title-block{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .rate-beoor{
    font-size: 25px;
    span{
      font-size: 30px;
      font-weight: bold;
    }
  }
  .rate-wad{
    li{
      display: flex;
      justify-content: space-between;
      padding-left: 35px;
      padding-bottom: 7px;
      &:nth-child(1){
        background: url("../img/icon.png") no-repeat top -2px left/40px;
      }
      &:nth-child(2){
        background: url("../img/icon.png") no-repeat top -39px left/40px;
      }
      &:nth-child(3){
        background: url("../img/icon.png") no-repeat top -74px left/40px;
      }
      &:nth-child(4){
        background: url("../img/icon.png") no-repeat top -110px left/40px;
      }

    }
  }
}
.text_ct{
  li{
    span{
      font-weight: bold;
      display: block;
      margin-top: 10px;
    }
  }
}
.row-social{
  margin: 15px 0;
  a{
    font-size: 25px;
    margin-right: 15px;
  }
}
.block-txt{
  margin-bottom: 30px;
}
.block-map{
  margin-bottom: 15px;
}
.open-block{
  h5{
    margin-bottom: 15px;
  }
}
.title_pink{
  font-size: 35px;
  color: #ec008c;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
  margin-top: 30px;
  text-shadow: -6px 7px 0px #f7dc1b;
  padding-left: 10px;
}
.txt_pink{
  color: #ec008c;
  font-weight: bold;
  font-size: 18px;
}