.btn{
  i{
    margin-right: 7px;
  }
}
.w_100 {
    width: 100%;
}
.row-flex{
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.flex-reverse{
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.logo_pc img{
  max-width: 100%;
}


@-webkit-keyframes animatedown {
    0%{-webkit-transform:translateY(-100%);transform:translateY(-100%)}
    100%{-webkit-transform:translateY(0);transform:translateY(0)}
}


@keyframes animatedown {
    0%{-webkit-transform:translateY(-100%);transform:translateY(-100%)}
    100%{-webkit-transform:translateY(0);transform:translateY(0)}
}


.fixed {
    position: fixed;
    top: 0px;
    z-index: 99;
    width: 100%;
    -webkit-transition: top 0.3s;
    transition: top 0.3s;
    -webkit-animation: animatedown 0.6s;
            animation: animatedown 0.6s;
}
.clearfix::before, .clearfix::after{
  content: '';
  display: block;
  clear: both;
}

[class^='clearfix'] {
    clear: both;
    display: block;
}
.clearfix-60{
    height: 60px;
}


 //======================================= media query======================================\\
@media (min-width:1200px) /* xl*/ {
    .container{
        max-width: 1230px;
    }
}

@media (min-width:992px) and (max-width:1199.98px) /* lg*/{

}

@media (min-width:768px) and (max-width:991.98px) /* md*/{

}

@media (max-width:767.98px) /* sm*/{

}

@media (max-width:575.98px) {

}

 //======================================= media query======================================\\
